body {
	font-family: Arial, sans-serif;
	margin: 2px;
	padding: 0;
	background-image: url('https://static-dm.ubisoft.com/siege/prod/7907369fa863844fc1ae432a9ca0e610.jpg');
}

/* App.tsx */
/* App tittle */
.R6logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

h1 {
	margin-top: -23px;
	text-align: center;
	color: rgba(230, 230, 230, 0.969);
}

/* CharacterSelector.tsx */
.character-selector {
	background-color: transparent;
	margin-top: -20px;
}

.character-selector div {
	text-align: center;
}

.character-selector .quantdiv{
	margin: 0 0 0 0;
}

.character-selector label{
	font-size: 1.8em;
	color: #acacac;
}

.character-selector input {
	margin: 10px 0 15px 15px;
	color-scheme: dark;
	width: 30px;
}

.random-attacker-button, .random-defender-button {
	width: 150px;
	height: 150px;
	cursor: pointer;
	transition: transform 0.2s ease;
	margin-inline: 15px;
	margin-bottom: 5px;
	fill: #24262a;
	background-color: #4d5c6b;
	border-radius: 15%;
}

.random-attacker-button:hover, .random-defender-button:hover {
    transform: scale(1.15);
}

.random-attacker-button:focus, .random-defender-button:focus {
	outline: 2px solid #fff;
	outline-offset: 4px;
	transform: scale(1.1);
}

.character-selector button {
	height: 100px;
	width: 100px;
	margin: 10px;
	margin-bottom: 10px;
}

/* CharacterCard.tsx */
.character-card {
	width: 42%;
	margin-inline: 5px;
	margin-block: 10px;
	max-width: 600px;
	border: 1px solid #dddddd80;
	border-radius: 15px;
	background-color: #d4d4d425;
	padding: 20px;
	text-align: center;
}

.character-card img {
	padding: 0.5%;
	width: 150px;
	height: 150px;
	border-radius: 25%;
	background-color: #4d5c6b;
}

.character-card h2 {
	font-size: 1.2em;
	margin: 10px 0;
	color: #fff;
}

.character-card p {
	margin: 5px 0;
	color: #ddd;
}

.character-card .ccKey {
	color: #fff;
	font-weight: bold;
}