body {
	font-family: Arial, sans-serif;
	margin: 2px;
	padding: 0;
	background-image: url('https://static-dm.ubisoft.com/siege/prod/7907369fa863844fc1ae432a9ca0e610.jpg');
}

/* App.tsx */
/* App tittle */
h1 {
	color: #b3b3b3cc;
	text-align: center;
	margin-top: 20px;
}

/* CharacterSelector.tsx */
.character-selector {
	background-color: transparent;
}

.character-selector p {
	text-align: center;
}

.character-selector label{
	color: #acacac;
}

.character-selector input {
	width: 60px;

}

.random-attacker-button, .random-defender-button {
	width: 150px;
	height: 150px;
	margin-inline: 20px;
	margin-bottom: -5px;
	fill: #24262a;
	background-color: #4d5c6b;
	border-radius: 15%;
}

.character-selector button {
	height: 100px;
	width: 100px;
	margin: 10px;
	margin-bottom: 10px;
}

/* CharacterCard.tsx */
.character-card {
	width: 45%;
	max-width: 600px;
	border: 1px solid #dddddd80;
	border-radius: 15px;
	background-color: #d4d4d425;
	padding: 20px;
	text-align: center;
}

.character-card img {
	padding: 0.5%;
	width: 150px;
	height: 150px;
	border-radius: 25%;
	background-color: #4d5c6b;
}

.character-card h2 {
	font-size: 1.2em;
	margin: 10px 0;
	color: #fff;
}

.character-card p {
	margin: 5px 0;
	color: #ddd;
}